* {
    margin: 0;
    padding: 0;
  }

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:150px;
}

.logo {
  margin-top:50px;
  margin-bottom:45px;
  width: 108px;
  height: 108px;
}

.item {
}

button {
  text-decoration: none;
  background: none;
  border:none;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.btn {
  text-decoration: none;
  font-size:30px;
  width:130px;
  height:42px;
  justify-content: space-around;
  margin: 5px;
  border-radius: 10px;
  background-color: #FFC833;
  color: #312F28;
  text-align:center;
}

.yel {
  color: #FFC833;
  background-color: #312F28;
}